@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Great+Vibes&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Great+Vibes&family=Imperial+Script&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&family=Great+Vibes&family=Imperial+Script&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*navigation bar*/
#logo {
  color: rgb(10, 64, 10);
}
header {
  margin-top: 5vh;
  padding-left: 0vw;
  /* display: flex;
  align-items: center;
  gap: 20vw; */
}

header li{
    font-size: 150%;
}


#logo img{
  width: 20%;
  margin-left: 40%;
  
}

a {
  color: rgb(119, 98, 70);
  list-style: none;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: center;
  margin-top: -15vh;
  padding-bottom: 25vh;
}
nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 3vw; /* Adjust spacing */
}
nav a{
  color: rgb(119, 98, 70);
  text-decoration: none;
}
li{
  list-style: none;
}
.product li {
  text-decoration: underline;
}

body {
  background-color: rgb(227, 218, 194);
}

.home-effect{
  text-decoration: underline;
}
/*main*/

/*homepage picture*/

.home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.home-container img{
 border: solid black;
 border-radius: 0;
 transition: transform 0.5s ease-in-out;
}

.cls-1,.cls-2,.cls-3,.cls-4{
  fill: transparent;
  stroke: rgb(119, 98, 70);
  stroke-width: 0.5;
  stroke-dashoffset:50 ;
  stroke-dasharray: 50;
  animation: orisunanimation 10s ease-in-out;
  animation-iteration-count: 30;
}
@keyframes orisunanimation {
  0%{
    stroke-dashoffset: 50;
  }
  85%{
    fill: #9a7836;
  }
  100%{
    fill: #9a7836;
    stroke-dashoffset: 0;
  }
}
.overview:hover{
 border: solid rgb(9, 99, 4);
 transform: scale(1.1);
}
.homepage {
  background-image: url("../images/home-img.jpg");
  background-attachment: fixed;
  padding: 10%;
  background-size: cover;
  background-repeat: none;
}
h1 {
  text-align: center;
  color: wheat;
  font-size: 520%;
}
figure {
  align-items: center;
}
.overview {
  margin-top: 5vw;
  width: 80%;
  height: 75%;
}

/*homepage picture*/

/* overview images */
.overview {
  border: 30px solid rgb(219, 203, 174);
  border-radius: 60px;
}
/* overview images */

/* see more button */
.see-more {
  margin-left: 48%;
  margin-top: 4%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding-top: 0.3%;
  padding-bottom: 0.5%;
  padding-left: 0.9%;
  padding-right: 0.9%;
  font-size: 200%;
  border: solid 2px black;
  text-align: center;
  
 transition: transform 0.5s ease-in-out;
}

.see-more:hover {
  background-color:  rgb(10, 64, 10);
  cursor: pointer;
}
/* see more button */

/* spring-campaign */
.spring {
  background-image: url(../images/spring-campaign.jpg);
  padding: 10%;
  background-repeat: none;
  background-size: cover;
  margin-top: 2vh;
}
.spring h3 {
  text-align: center;
  font-size: 490%;
}
/* spring-campaign */

/* summer-campaign */
.summer {
  background-image: url(../images/summer-campaign.jpg);
  padding: 10%;
  background-repeat: none;
  background-size: cover;
  background-position: 5% bottom;
  margin-top: 2vh;
}
.summer h3 {
  text-align: center;
  font-size: 490%;
}
/* summer-campaign */

/* valentine-campaign */
.valentine {
  background-image: url(../images/valentine-campaign.jpg);
  padding: 10%;
  background-repeat: none;
  background-size: cover;
  margin-top: 2vh;
}
.valentine h3 {
  text-align: center;
  font-size: 490%;
}
/* valentine-campaign */

/* footer */
footer {
  margin-top: 5vw;
  border-top: 0.2vw solid;
  color: rgb(119, 98, 70);
}

/* media query */
@media screen and (max-width: 500px) {
  /* header and nav */
  header {
    display: flex;
    align-items: center;
    gap: 0.01%;
  }

  #logo {
    font-size: 60%;
  }
  nav a {
    font-size: 35%;
    font-weight: 700;
  }
  /* header and nav */
  /* homepage stuff */
  .homepage {
    background-image: url("../images/home-img.jpg");
    padding: 40%;
    background-size: contain;
    background-repeat: none;
  }

  .home-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* homepage stuff */
  /* see-more button */
  .see-more {
    margin-top: 10%;
    margin-left: 42%;
    background-color: rgb(99, 168, 99);
    color: wheat;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    font-size: 80%;
    border: none;
    border-radius: 50px;
  }

  .see-more:hover {
    background-color: rgb(78, 134, 78);
    cursor: pointer;
  }
  /* see-more button */
  /* campaign */
  .summer h3 {
    text-align: center;
    font-size: 190%;
  }
  .spring h3 {
    text-align: center;
    font-size: 190%;
  }
  .valentine h3 {
    text-align: center;
    font-size: 190%;
  }
  /* campaign */
}

/* media query */
@media screen and (min-width: 501px) and (max-width: 1100px) {
  /* header and nav */
  header {
    display: flex;
    align-items: center;
    gap: 0.01%;
  }

  #logo {
    font-size: 60%;
  }
  nav a {
    font-size: 35%;
    font-weight: 700;
  }
  /* header and nav */
  /* homepage stuff */
  .homepage {
    background-image: url("../images/home-img.jpg");
    padding: 40%;
    background-size: contain;
    background-repeat: none;
  }

  .product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* homepage stuff */
  /* see-more button */
  .see-more {
    margin-top: 20%;
    margin-left: 42%;
    background-color: rgb(99, 168, 99);
    color: wheat;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    font-size: 80%;
    border: none;
    border-radius: 50px;
  }

  .see-more:hover {
    background-color: rgb(78, 134, 78);
    cursor: pointer;
  }
  /* see-more button */
  /* campaign */
  .summer h3 {
    text-align: center;
    font-size: 190%;
  }
  .spring h3 {
    text-align: center;
    font-size: 190%;
  }
  .valentine h3 {
    text-align: center;
    font-size: 190%;
  }
  /* campaign */
}
/* media query */

/* product page */
.product-effect{
  text-decoration: underline;
}
.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-container img{
 border: solid black;
 border-radius: 0;
 transition: transform 0.5s ease-in-out;
}

.overview:hover{
 border: solid rgb(9, 99, 4);
 transform: scale(1.1);
}
h2 {
  text-align: center;
  font-size: 180%;
}

.product-name {
  display: flex;
  gap: 15%;
  margin-left: 25%;
}

.fa-cart-plus {
  margin-top: 9.5%;
}
.product-name a {
  margin-top: 9.5%;
}
/* product page */

/* detailed page */
.detailed-roses {
  width: 80%;
}

h3 {
  margin-top: 5%;
  font-size: 180%;
}
.left-detailed {
  text-align: left;
}
.right-detailed ul {
  list-style: none;
}

.detailed-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.right-detailed input{
 width: 50px;
}
.right-detailed h3{
font-size: 3rem;
}

.right-detailed p{
font-size: 1.5rem;
}
.right-detailed li{
font-size: 1.5rem;
}

#title{
  font-size: 4rem;
  font-family: "Cinzel";
}

.add-cart{
  display: block;
  
}
.add-cart :hover{
  color: bisque;
}
.cart-button{
  color: black;
  width: 100%;
}

h7{
  font-size: 150%;
  font-style: oblique;
  font-weight: bolder;
}

.flower-bio{
  font-size: 0.9rem;
  color:rgb(119, 98, 70);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.detail-info{
  font-size: 10%;
  color:rgb(119, 98, 70);
}
/* detailed page */

/* FAQ page */
h4 {
  text-align: center;
  color: black;
  font-size: 200%;
  font-family: "Ubuntu";
}

#faq-effect{
    text-decoration: underline;
}

.faq {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
  margin-top: 2%;
  align-items: center;
}

.faq-header {
  padding: 10%;
  background-color: rgb(1, 38, 1);
  
}

.faq-item {
    background-color: #efead4; 
    border-radius: 10px; 
    padding: 15px;
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    cursor: pointer; 
    
    font-weight: bold;
    font-size: 16px;
}
summary::marker{
    color: rgb(78, 134, 78);
}

.answer {
  text-align: justify;
}

.faq-img {
  background-image: url("../images/faq-img.jpg");
  padding: 10%;
  background-size: contain;
  background-repeat: none;
  filter: brightness(70%);
}

/* FAQ page */

/* Contact Us Page */
.contact-effect{
  text-decoration: underline;
}
.contact-body{
  display: flex;
}
.contact-body  h1{
  color: #000;
}
.contact-left {
  flex: 1;
  height: 100vh;
  background-image: url("../images/sideflower.jpg"); 
  background-size: cover;
  background-position: center;
}
.contact-right {
  flex: 1;
  padding: 5%;
  display: flex;
  flex-direction: column;
  border: solid black;
}
.contact-right h1 {
font-size: 5rem;
font-weight: normal;

}

.contact-right span {
font-size: 7rem;
font-family: "Imperial Script";
}
.contact-right p {
font-size: 1.5rem;
color: #555;
margin-bottom: 10px;
}
form {
display: flex;
flex-direction: column;
}
input, textarea {
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #000000;
border-radius: 5px;
background-color: rgb(224, 212, 180);
}
input::placeholder{
  color: #000;
  font-size: 1.2rem;
}
textarea::placeholder{
  color: #000;
  font-size: 1.2rem;
}
button {
background-color: transparent;
color: white;
padding: 10px;
border: solid 2px black;
cursor: pointer;
transform: transition 0.5s ease-in-out;
}
button:hover {
background-color: #000000;
}
.name-flex {
display: flex;
gap: 10px;
}

/* Contact Us Page */
/* About us */
.about-us-background {
  background-image: url("../images/about.jpg");
  background-attachment: fixed;
  padding: 17%;
  margin-top: -25vh;
  background-size: cover;
  background-repeat: none;
}
.about-effect{
  text-decoration: underline;
}
h1 {
  text-align: center;
  color: wheat;
  font-size: 520%;
}

.about-us-background span{
  font-family: "Imperial Script";
  font-size: 8rem;
}

.about span{
  font-family: "Imperial Script";
  font-size: 6rem;
}

 .about h4 {
  text-align: center;
  color: black;
  font-size: 4rem;
  font-family: "Ubuntu";
}

.about .about-content{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
  }
  
  .about .about-content .about-left {
  flex: 1 1 40rem;
  position: relative;
  }
  
  .about .about-content .about-left video{
      width: 50%;
      border: 1.5rem solid transparent;
      border-radius: .5rem;
      height: 100%;
      object-fit: cover;
  
  
  }
  .about .about-content .about-left img{
      width: 50%;
      border: 1.5rem solid transparent;
      border-radius: .5rem;
      height: 100%;
      object-fit: cover;
  
  
  }
   .about-right img{
      width: 100%;
      border: 1.5rem solid transparent;
      border-radius: .5rem;
      object-fit: cover;
  
  
  }
  
  .about .about-content .about-right h3{
    font-size: 3rem ;
    color:#333 ;
    text-align: center;
}

.about .about-content .about-right p{
    font-size: 1.5rem ;
    color:#000000 ;
    padding-left: 10%;
}

.founders h4{
  font-family:"Imperial Script";
  font-size: 5rem;
}
.founders-content{
  display: flex;
  gap: 10%;
}
.founder-left {
  margin-left: 7%;
 background-image: url(../images/founder-1.JPG);
 padding: 20%;
 background-repeat: no-repeat;
 background-size: contain;
 
  
}
.founder-right {
  background-image: url(../images/founder-2.jpg);
  padding: 20.5%;
  background-repeat: no-repeat;
  background-size: contain;
}

.founder-left-name {
  margin-left: 7%;
  margin-top: -7%;
 /* background-image: url(../images/founder-1.JPG); */
  
}
.founder-right-name {
  margin-left: 20%;
  margin-top: -7%;
}
/* About us */

/* footer */
.footer{
  margin-left: 7%;
  padding-top: 5%;
}
.footer .bx-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .bx-container .bx{
flex: 1 1 25rem;
}

.footer .bx-container .bx h3{
color: #446246;
font-size: 2.5rem;
padding: 1rem 0;
}

.footer .bx-container .bx a{
  display: block;
  color: rgb(10, 64, 10);
font-size: 1.5rem;
padding: 1rem 0;
}

.footer .bx-container .bx a:hover{
  color: #304631;
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding:1.5rem ;
  margin-top: 1.5rem;
  padding-top:2.5rem ;
  font-size: 2rem;
  color: #000;
  border-top: .1rem solid #555454;
}

.footer .credit span{
  color: #304631;
}

h8{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

/* footer */

/* shopping page */
#shopping-cart-effect{
  text-decoration: underline;
}
.shopping-cart{
  width: 50%;
  height: auto;
}
.shopping-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 10%;

}
.shopping-container-two{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 10%;

}

.first-item{
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 10%;

}

.second-item{
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 10%;
}
.input-box{
  width: 25% ;
  height: 10%;
}
.cart-items-title{
  font-size: 150%;
  color: rgb(119, 98, 70);
  margin: 0;

}
.cart-items-price{
  font-size: 150%;
  color: rgb(119, 98, 70);
  margin: 0;
}

.delete-button{
  background: none;
  border: none;
  font-size:20px;
  color: #000000;
  background-color: none;
}

/* spring page */
.springpage{
  background-image: url("../images/spring.jpg");
  background-attachment: fixed;
  padding: 10%;
  background-size:cover;
  background-repeat: no-repeat;
}
/* spring page */

/* summer page */

.summerpage {
  background-image: url("../images/summer.jpg");
  background-attachment: fixed;
  padding: 10%;
  background-size: cover;
  background-repeat: none;
}
/* summer page */

/* valentine page */

.valentinepage {
  background-image: url("../images/valentine.jpg");
  background-attachment: fixed;
  padding: 10%;
  background-size: cover;
  background-repeat: none;
}
/* summer page */